<configuration>
  <config>
    <add key="http_proxy" value="http://wsaprd.syc.loc:3128" />
    <add key="https_proxy" value="http://wsaprd.syc.loc:3128" />
  </config>

  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="sycartifact@Local" value="https://pkgs.dev.azure.com/sycdevops/_packaging/sycartifact%40Local/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <sycartifact@Local>
      <add key="Username" value="AzureDevOps" />
      <add key="ClearTextPassword" value="7EzNwv61lSny0yPbPbciTdGWeGw2zl9IAvsC5xL54rnpED15q0NmJQQJ99BEACAAAAArHr0eAAASAZDO2OBO" />
    </sycartifact@Local>
  </packageSourceCredentials>

  <proxy>
    <add key="proxy_username" value="ZmVybmFuZG8ucm9kcmlndWV6OjErXj7wNWYzZjdqPwo=" />
  </proxy>
</configuration>
