<configuration>
  <config>
    <add key="http_proxy" value="http://wsaprd.syc.loc:3128" />
    <add key="https_proxy" value="http://wsaprd.syc.loc:3128" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <proxy>
    <add key="proxy_username" value="ZmVybmFuZG8ucm9kcmlndWV6OjErXj7wNWYzZjdqPwo=" />
  </proxy>
</configuration>
