<configuration>
  <config>
    <add key="http_proxy" value="http://fernando.rodriguez:1:%2B%5E%3FuE7%2F6j%3C@wsaprd.syc.loc:3128" />
    <add key="https_proxy" value="http://fernando.rodriguez:1:%2B%5E%3FuE7%2F6j%3C@wsaprd.syc.loc:3128" />
    <add key="proxy_username" value="fernando.rodriguez" />
    <add key="proxy_password" value="1:%2B%5E%3FuE7%2F6j%3C" />
  </config>
</configuration>
